{% extends "DashBoard/base.html" %}
{% block content %}

    <body>

        <div>
            <h1> Account Creation : Employee</h1>
        </div>
        
        <form action="{% url 'seeker:CreateAccount' code %}" method="POST"> 
            {% csrf_token %}
        <div>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username"><br>

            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
        </div>
            <input type="submit" value="submit">

        </form>

    </body>

{% endblock %}