{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'seekerDesign/requestAcnt.css' %}">
</head>
    <body class="contain1">

        <div class="Head1">
            <h1> Request Registration : Employee</h1>
        </div><hr>
        
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div class="fdiv">
                {{ formRA.as_p }}
            </div>
            
            <button type="submit" class="btn info" > Submit </button>
        </form>

        <form action ="{% url 'dashboard:dashboard-home' %}">
            <button type="submit" class="btn danger"> Cancel </button>    
        </form>

    </body>

