
{% load static %}
{% load crispy_forms_tags %}

    <head>
        <link rel="stylesheet" href="{% static 'companyDesign/registerC.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
    </head>

    <body class = "container">
        <div class="Head">
            <h1> Request Registration : Employer</h1>
            <hr>
        </div>
        
        <div class="subbody">
            <form method="POST" enctype="multipart/form-data" novalidate> 
                {% csrf_token %}
                <div class="frm">
                    {{ formRA | crispy}}
                </div>

                <button type="submit" class="btn info"> Submit </button>
            </form>

            <form action ="{% url 'dashboard:dashboard-home' %}">
                <button type="submit" class="btn danger"> Cancel </button>    
            </form>
        </div>
    </body>

    