{% extends "DashBoard/base.html" %}
{% block content %}
{% load static %}


    <head>
        <link rel="stylesheet" href="{% static 'companyDesign/register.css' %}">
        
    </head>

    <body>
        <div class="Head">
            <h1> Request Registration : Employer</h1>
            <hr>
        </div>
        
        <form method="POST" enctype="multipart/form-data" novalidate> 
            {% csrf_token %}
            <div>
                {{ formRA.as_p}}
            </div>
            <button type="submit" class="btn btn-success"> Submit </button>

        </form>

    </body>


{% endblock content %}