
{% extends "DashBoard/base.html" %}
{% block content %}
{% load static%}

    <head>
        <link rel="stylesheet" href="{% static 'postDesign/seeAll.css' %}">
    </head>

    <div class="HeadSec">
        <h1> My Posts : </h1>
    </div><hr>
    <div class="imgCon">
        <img src="{% static 'postDesign/allpost2.jpg' %}" alt="Snow" style="width:100%">
    </div>
    <div class="centered">
        {% for pst in AllPosts %}

            <p> <a href="{% url 'company:ShowPostCompany' pst.pk%}"> {{pst.title}} </a> </p>

        {% endfor %}
        
    </div>

    
{% endblock content %}