
{% extends "DashBoard/base.html" %}
{% block content %}
{% load static %}

    <head>
        <link rel="stylesheet" href="{% static  'postDesign/seeAll.css' %}">
    </head>
    <body class="contain2">

        <div class="Head2">
            <h1> Post Details : </h1>
        </div><hr>

        <div class="dtaile">
            <ul>
                <li><p><b> Category</b>   : {{Info.category}}</p></li>
                <li><p><b> Title  </b>    : {{Info.title }}</p></li>
                <li><p><b>description</b> : {{Info.descript}}</p></li>
                <img src="{{ Info.image.url }}" alt="post-image" height="40%">
                <small> <a href="{{Info.image.url}}">see</a> </small>
            </ul>

        </div>
        <div>
            <form action="{% url 'company:PostEditCompany' Info.pk %}" method="GET"> 
                <button type="submit" class="btn info" > .Edit.. </button>
            </form>
            <form action="{% url 'company:PostDeleteConfirm' Info.pk %}">
                <button type="submit" class="btn danger"> Delete </button>
            </form>
        </div>

    </body>

{% endblock content %}