{% extends "DashBoard/base.html" %}
{% block content %}
{% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'userDesign/profileEmployer.css' %}">
    </head>

    <div class="deleteF">
        <p><b> Are You sure ? </b></p>
        <form action="{% url 'Delete' %}">
            <button type="submit" class="btn danger"> Delete </button>
        </form>
        <form action="{% url 'dashboard:dashboard-home' %}">
            <button type="submit" class="btn info"> Cancel </button>
        </form>

    </div>

{% endblock content %}