{% extends "DashBoard/base.html" %}
{% block content %}
{% load static %}

    <head>
        <link rel="stylesheet" href="{% static  'userDesign/login.css' %}">
    </head>

    <div> 
        <div> 

            <h1> Log-In page : {{objType}}</h1>

        </div><hr>

        <form method='POST'> 
            {% csrf_token %}
            <fieldset class="banner">
                {{form.as_p}}
            </fieldset>

            <div class="but"> 
                <button type="submit"> Log In </button> 
            </div>
        </form>

        <div> 
            <small> Don't Have An Account?</small>
            <a href="#"> Sign Up </a>
        </div>

    </div>

{% endblock content %}

