
{% extends "DashBoard/base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static  'userDesign/profileEmployer.css' %}">
</head>


    <body class="container">
    
        <div class="HeadSec">
            <h1> Profile : {{ Item.username }} </h1>
        </div><hr>
        <div class="details">
            <ul>
                <li><p> fullname   : </p> {{ Item.fullname}} </li>
                <li><p> username   : </p> {{ Item.username }} </li>
                <li><p> email      : </p> {{ Item.email }} </li>
                <li><p> contact_no : </p> {{ Item.contact_no }}</li>
                <li><p> skills     : </p> {{ Item.skills }}</li>
            </ul>
        </div>

        <div>
            <form action="{% url 'seeker:ProfileEditSeeker' 2%}">
                <button type="submit" class="btn info" > .Edit.. </button>
            </form>

            <form action ="{% url 'DeleteConfirm' %}">
                <button type="submit" class="btn danger"> Delete </button>
            </form>
        </div>
    </body>


{% endblock content %}