
{% extends "DashBoard/base.html" %}
{% block content %}
{% load static %}

    <head>
        <link rel="stylesheet" href="{% static  'userDesign/profileEmployer.css' %}">
    </head>

    <body class="container">
        <div class="HeadSec">
            <h1> Profile : {{ Item.company_name }} </h1>
        </div><hr>

            
            <div class="details">
                <ul>
                    <li><p> Company_name  : </p> {{ Item.company_name }}</li>
                    <li><p> Registered_no : </p> {{ Item.registered_no }}</li>
                    <li><p> Address    : </p> {{ Item.address }}  </li>
                    <li><p> Email      : </p> {{ Item.email }}</li> 
                    <li><p> Contact_no : </p> {{ Item.contact_no }}</li>

                </ul>
            </div>
      
        <form action="{% url 'company:ProfileEditCompany' 1%}">
            <button type="submit" class="btn info" > .Edit.. </button>
        </form>

        <form action ="{% url 'DeleteConfirm' %}">
            <button type="submit" class="btn danger"> Delete </button>
            
        </form>

    </body>

{% endblock content %}